<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for c in curso %}
        <li>{{c}}</li>
    <button>
        <a href="{% url 'EliminarCurso' c.curso %}" > Eliminar</a>
    </button>
    <button>
        <a href="{% url 'EditarCurso' c.curso %}" > Editar</a>
    </button>

    {% endfor %}
    
    <h4></h4> 
    <button>
    <a href="{% url 'cursos' %}" > Crear un nuevo curso</a>
    </button>
    
</body>
</html>